@charset "utf-8";
html,body{
	width:100%;
	height:100%;
	padding:0;
	margin:0;}
/* timeline */
.timeline{
	height:2000px;
	padding:0px 106px;
	background-size:100% 100%;
	margin-bottom:50px;
}
.about-history-list{
	position:relative;
}
.about-history-list .flex-viewport{
	padding:0 31px;
}
.about-history-list .flex-viewport:before{ 
	position:absolute;
	top:50%; 
	right:0; 
	left:0; 
	border-top:1px solid #C7C7C7; content:'';
}
.about-history-list .slides li{ 
	position:relative;
	width:253px;
	height:470px; 
	margin-right:31px;
}
.about-history-list .slides li .item{
	position:absolute; 
	right:-32px; 
	bottom:0; 
	left:-32px;
	min-height:152px; 
	padding:44px 0 0 0; 
	background-color:#fff;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease; 
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease; 
	transition:all .2s ease;
}
.about-history-list .slides li .item:before{
	position:absolute; 
	top:-49px; 
	left:50%;
	width:20px; 
	height:20px;
	overflow:hidden;
	margin-left:-10px;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
	background-color:rgba(218,183,101,.6); 
	content:'';
}
.about-history-list .slides li .item:after{ 
	position:absolute;
	top:-45px; 
	left:50%; 
	width:12px;
	height:12px;
	overflow:hidden;
	margin-left:-6px;
	-webkit-border-radius:100%; 
	-moz-border-radius:100%; 
	border-radius:100%; 
	background-color:#DAB765;
	content:'';
}
.about-history-list .slides li:nth-child(even) .item{ 
	top:0;
	bottom:auto;
	padding:0 0 44px;
}
.about-history-list .slides li:nth-child(even) .item:before{
	top:auto;
	bottom:-49px;
}
.about-history-list .slides li:nth-child(even) .item:after{
	top:auto;
	bottom:-45px;
}
.about-history-list .slides li .item:hover{ 
	background-color:#DAB765;
}
.about-history-list .slides li .item h3{
	position:absolute;
	top:0; 
	right:0; 
	left:0; 
	height:44px; 
	line-height:44px;
	margin:0; 
	font-size:20px;
	font-weight:400;
	color:#999999; 
	text-align:center;
	background-color:#e2e2e2;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease; 
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
.about-history-list .slides li .item:hover h3{
	color:#232323; 
	background-color:#fff;
}
.about-history-list .slides li .item h3:before{
	position:absolute; 
	bottom:100%; 
	left:50%;
	margin-left:-9px; 
	border-width:0 9px 18px;
	border-style:solid; 
	border-color:transparent transparent #E2E2E2; 
	content:'';
}
.about-history-list .slides li:nth-child(even) .item h3{
	top:auto; 
	bottom:0;
}
.about-history-list .slides li:nth-child(even) .item h3:before{
	top:100%;
	bottom:auto;
	border-width:18px 9px 0; 
	border-color:#E2E2E2 transparent transparent;
}
.about-history-list .slides li .item .text p{ 
	line-height:24px; 
	padding:8px 30px 0;
	font-size:14px; 
	color:#929292;
	margin:0;
	font-family:wellfleet;
}
.about-history-list .slides li .item:hover .text{ 
	color:#ffffff;
}
.about-history-list .slides li .item .text p:hover{ 
	color:#ffffff;
}
.about-history-list .flex-direction-nav{ 
	padding:0; 
	margin:0; 
	list-style:none;
}
.about-history-list .flex-direction-nav a{ 
	position:absolute; 
	top:50%; 
	width:48px; 
	height:160px; 
	line-height:160px; 
	overflow:hidden;
	margin-top:-80px;
	font-size:50px; 
	font-family:wellfleet;
	color:#ffffff; 
	text-align:center;
}
.about-history-list .flex-direction-nav a.flex-prev{ 
	left:-48px;
}
.about-history-list .flex-direction-nav a.flex-next{ 
	right:-48px;
}
a{
	color:#414141;
	text-decoration:none;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-ms-transition:all .2s ease;
	-o-transition:all .2s ease; 
	transition:all .2s ease;
}
a:hover{
	text-decoration:none;
}

